#map {
    height: 70%;
    width: 100%;
}

label {
    font-size: 20px;
    font-family: 'Arial';
    margin-left: 15px;
}

form {
    background-color: rgb(255, 255, 255);
    height: 25vh;
}

select {
    position: relative;
    display: inline-block;
    margin-bottom: 15px;
    width: 100%;
}

.select select {
    font-family: 'Arial';
    display: inline-block;
    width: 100%;
    cursor: pointer;
    padding: 3px 30px;
    outline: 0;
    border: 0px solid #000000;
    border-radius: 28px;
    background: #dfe9fd;
    color: #00000072;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    font-size: 20px;
}

select select::-ms-expand {
    display: none;
}

select select:hover, select select:focus {
    color: #000000;
    background: #aee0f8;
}

select select:disabled {
    opacity: 0.5;
    pointer-events: none;
}

.select_arrow {
    position: absolute;
    top: 10px;
    right: 11px;
    pointer-events: none;
    border-style: solid;
    border-width: 8px 5px 0px 5px;
    border-color: #000000 transparent transparent transparent;
}

.select select:hover~.select_arrow, .select select:focus~.select_arrow {
    border-top-color: #7e154b;
}

.select select:disabled~.select_arrow {
    border-top-color: #cccccc;
}

@media(max-width: 425px) {
    form {
        background-color: rgb(255, 75, 75);
        height: 20vh;
    }
    select {
        position: relative;
        display: inline-block;
        margin-bottom: 15px;
        width: 100%;
    }
    select select {
        font-family: 'Arial';
        display: inline-block;
        width: 100%;
        cursor: pointer;
        padding: 3px 30px;
        outline: 0;
        border: 0px solid #000000;
        border-radius: 28px;
        background: #dfe9fd;
        color: #000000;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
    }
    select select::-ms-expand {
        display: none;
    }
    select select:hover, select select:focus {
        color: #000000;
        background: #aee0f8;
    }
    select select:disabled {
        opacity: 0.5;
        pointer-events: none;
    }
    select_arrow {
        position: absolute;
        top: 10px;
        right: 11px;
        pointer-events: none;
        border-style: solid;
        border-width: 8px 5px 0px 5px;
        border-color: #000000 transparent transparent transparent;
    }
    select select:hover~.select_arrow, select select:focus~.select_arrow {
        border-top-color: #7e154b;
    }
    .select select:disabled~.select_arrow {
        border-top-color: #cccccc;
    }
}

#go {
    background-color: #44c767;
    border-radius: 28px;
    border: 1px solid #18ab29;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 17px;
    padding: 5px 31px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #2f6627;
}

#go:hover {
    background-color: #5cbf2a;
}

#go:active {
    position: relative;
    top: 1px;
}

.wrapper {
    text-align: center;
}

.button-container {
    width: 100%;
    text-align: center;
    margin: 0.8em 0;
}

button {
    text-align: center;
    padding: 10px;
    background-color: transparent;
    border-radius: 42px;
    border: 1.5px solid #ff3200;
    display: inline-block;
    cursor: pointer;
    color: #ff3200;
    font-family: Arial;
    font-size: 20px;
    padding: 1em 3em;
    text-decoration: none;
}

button:hover {
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #ff8400), color-stop(100%, #ff3200));
    background-color: #ff3200;
    border: 1.5px solid #ff3200;
    display: inline-block;
    color: #ffffff;
    font-size: 20px;
    text-decoration: none;
}

button:hover {
    opacity: 0.85;
}