<div id="map">
    <google-map height="80vh" width="100vw" [center]="{lat: lat, lng: lng}" [zoom]=13>
        <map-marker *ngFor="let marker of arrets" [position]="{lat: marker.lat, lng: marker.lng}"></map-marker>
    </google-map>
</div>

<div class="button-container">
    <a href="/line-choice">
        <button>See another bus</button>
    </a>
</div>