<div id="form">
    <img src="assets/img/bmx2.png" alt="cool logo">

    <p>Choose the <span>number</span> of the line. </p>
    <div id="buttons">
        <button [ngStyle]="{'background-color': '#' + line.couleur}" *ngFor="let line of lines$ | async"
            (click)="getStops(line.numero_ligne)">{{line.numero_ligne}}</button>
        <p>Choose your <span>stop</span> </p>

        <button class="dir" *ngFor="let stop of ($arrets | async) as arrets"
            (click)="getTheDirection(stop.name, arrets)">{{stop.name}}</button>


        <p>Choose your <span>direction</span>.</p>
        <div id="direction">
            <button class="dir" *ngFor="let dest of destinations"
                (click)="sendInfo(arretChoix, lineChoix, dest.destination)">{{dest.destination}}</button>
        </div>
    </div>



</div>

<p class="pp">This service provides accurate information about the transport localisation in real time </p>
<p class="pp">© 2020 BMX Transports publics </p>