img{
    position: relative;
    height: 100px;
    font-weight: 200px;
}

#form{
  text-align: center;
  justify-content: center;
  margin-top: 3%;
  margin-bottom: 5%;
  
}

.choice{
    padding: 3%;
}

button{
    
    padding: 10px;
    margin: 10px;
	border-radius:42px;
	display:inline-block;
	cursor:pointer;
	font-family:Arial;
    font-size:20px;
    font-weight: bold;
	padding:15px 45px;
    text-decoration:none;
    color: white;
    border:1.5px solid transparent;

}

button:hover{
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ff8400), color-stop(100%,#ff3200));
    background-color: #ff3200;
	border-radius:42px;
	border:1.5px solid #ff3200;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:15px 45px;
	text-decoration:none;
}


button:focus, .dir:focus{
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ff8400), color-stop(100%,#ff3200));
    background-color: #ff3200;
	border-radius:42px;
	border:1.5px solid #ff3200;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:15px 45px;
	text-decoration:none;
}

.dir{
    padding: 10px;
    margin: 10px;
    background-color:transparent;
	border-radius:42px;
	border:1.5px solid #ff3200;
	display:inline-block;
	cursor:pointer;
	color:#ff3200;
	font-family:Arial;
    font-size:20px;
    font-weight: bold;
	padding:15px 45px;
	text-decoration:none;
}


p{
    padding-top: 5%;
    font-family: Arial, sans-serif;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    
}

span { 
    font-size: 1.7em;
    font-weight: bold; 
}

.pp{
    font-family: Georgia, serif;
    text-decoration: none;
    text-align: center;
    padding-top: 0;
    font-size: 15px;



    
}

