<div id="form">
    <img src="assets/img/bmx2.png" alt="cool logo">
    <div class="choice">
        <button routerLink="/line-choice" [queryParams]="{sendFlag: true}">Send information</button>
        <button routerLink="/line-choice" [queryParams]="{sendFlag: false}">Get information</button>
    </div>
</div>

<p>This service provides accurate information about the transport localisation in real time </p>
<p>© 2020 BMX Transports publics </p>