img{
    position: relative;
    height: 100px;
    font-weight: 200px;
}

#form{
  text-align: center;
  justify-content: center;
  margin-top: 20%;
  margin-bottom: 10%;
  
}

.choice{
    padding: 3%;
}

button{
    padding: 10px;
    margin: 10px;
    background-color:transparent;
	border-radius:42px;
	border:1.5px solid #ff3200;
	display:inline-block;
	cursor:pointer;
	color:#ff3200;
	font-family:Arial;
    font-size:20px;
    font-weight: bold;
	padding:15px 45px;
	text-decoration:none;
}

button:hover{
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ff8400), color-stop(100%,#ff3200));
    background-color: #ff3200;
	border-radius:42px;
	border:1.5px solid #ff3200;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:15px 45px;
	text-decoration:none;
}

p{
    font-display: Arial;
    text-decoration: none;
    text-align: center;
}